name: Test Instagram

on:
  workflow_dispatch:
    inputs:
      instagram_username:
        description: 'Instagram Username'
        required: true
        default: 'kami_lialotfi'
      instagram_password:
        description: 'Instagram Password'
        required: true
      instagram_2fa_code:
        description: 'Instagram 2FA Code'
        required: true
      number_of_reels_to_watch:
        description: 'Number of Reels to Watch'
        required: true
        default: '5'
        type: number
      max_login_attempts:
        description: 'Max Login Attempts'
        required: true
        default: '5'
        type: number
      max_attempts_to_mark_reel_as_watched:
        description: 'Max Attempts to Mark Reel as Watched'
        required: true
        default: '5'
        type: number
      use_tor:
        description: 'Use Tor'
        required: true
        default: false
        type: boolean

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test Instance
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install git+https://${{ secrets.PLAYWRIGHT_HELPER_GITHUB_TOKEN }}@github.com/za-zo/python-package--playwright-helper.git
          playwright install chrome
          sudo apt-get install -y xvfb
      
      - name: Install Tor
        if: ${{ github.event.inputs.use_tor == 'true' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y tor
      
      - name: Configure Tor
        if: ${{ github.event.inputs.use_tor == 'true' }}
        run: |
          echo "ControlPort 9151" | sudo tee -a /etc/tor/torrc
          echo "SocksPort 9150" | sudo tee -a /etc/tor/torrc
          echo "CookieAuthentication 0" | sudo tee -a /etc/tor/torrc
          echo "Log notice file /var/log/tor/log" | sudo tee -a /etc/tor/torrc
          sudo systemctl restart tor@default
          sleep 10
          sudo ss -tulpn | grep tor
          sudo systemctl status tor@default --no-pager

      - name: Ensure Chrome is installed
        run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable
          ls -l /usr/bin/google-chrome

      - name: Run Python Code
        env:
          INSTAGRAM_USERNAME: ${{ github.event.inputs.instagram_username }}
          INSTAGRAM_PASSWORD: ${{ github.event.inputs.instagram_password }}
          INSTAGRAM_2FA_CODE: ${{ github.event.inputs.instagram_2fa_code }}
          NUMBER_OF_REELS_TO_WATCH: ${{ github.event.inputs.number_of_reels_to_watch }}
          MAX_LOGIN_ATTEMPTS: ${{ github.event.inputs.max_login_attempts }}
          MAX_ATTEMPTS_TO_MARK_REEL_AS_WATCHED: ${{ github.event.inputs.max_attempts_to_mark_reel_as_watched }}
          WORKFLOW_ID: ${{ github.run_number }}
          BROWSER_PATH: "/usr/bin/google-chrome"
          USE_TOR: ${{ github.event.inputs.use_tor }}
          TOR_PORT: 9150
          TOR_CONTROL_PORT: 9151
          PYTHONUNBUFFERED: "1"
          CI: "true"
          HEADLESS: "true"
        run: |
          xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" python instagram.py
      
      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: execution-artifacts
          path: |
            instagram_outputs/
            *.png
            *.html
            *.log
          retention-days: 5
